# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Local development settings
.idea/
.vscode/
*.sublime-*

# Results and data
results/
*.log
*.png
*.pkl

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# System files
.DS_Store
Thumbs.db
